p {
    margin: 0;
}

body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
    height: 1000px;
}

@media (min-width: 1200.1px) {
    body {
        padding-left: 230px;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}